* {
    margin: 0;
    padding: 0;
    background-color: var(--MainColor);
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-weight: 500;
    scroll-behavior: smooth;
}

.body {
    overflow-y: hidden;
    overflow-x: hidden;
}

body::webkit-scrollbar {
    display: none;
}

/* Changes color when text is highlighted */
::selection {
    background-color: white;
    color: var(--MainColor)
}

:root {
    --MainColor: rgb(0, 85, 170);
    --SecondaryColor: rgb(0, 75, 150);
}

header {
    position: static;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200%;
    background-color: var(--SecondaryColor);
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 700;
    font-size: 200%;
    flex: none;
    text-decoration: none;
    text-align: center;
    background-color: var(--SecondaryColor);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background-color: var(--SecondaryColor);
    display: flex;
    text-decoration: none;
    font-size: 150%;
    float: right;
    width: 50%
}

.nav a {
    background-color: var(--SecondaryColor);
    margin-left: 5%;
    /*text-decoration: none;*/
    font-weight: 600;
    color: white;
    text-align: left;   
    text-decoration: none;
    position: relative;
}

.nav a::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 6%;
    background: white;
    border-radius: 100px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
}

.nav a:hover::before {
    transform: scaleX(1);
}

.resumelinkicon {
    width: 0.75em;
    height: 0.75em;
    margin-top: 0.8%;
    margin-left: 1.35%;
    background-color: var(--SecondaryColor);
}

/* HOME */

.home {
    width: 100%;
    position: relative;
    align-items: none;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-between;
}



.aboutme {
    position: relative;
    left: 18%; /*Should be 14.5%*/
    width: 31%;
}

.aboutme-header {
    position: relative;
    text-align: center;
    font-size: 175%;
    font-weight: 700;
    text-decoration: underline;
    align-items: center;
}

.aboutme-description {
    position: relative;
    top: 10%;
    font-size: 120%;
    word-wrap: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.vex {
    position: relative;
    box-shadow: inset 0 0 0 0 white;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.vex:hover {
    box-shadow: inset 10em 0 0 0 white;
    color: var(--MainColor);

}

.robozone {
    position: relative;
    box-shadow: inset 0 0 0 0 white;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.robozone:hover {
    box-shadow: inset 10em 0 0 0 white;
    color: var(--MainColor);

}

.outreach {
    position: relative;
    margin-top: 20%;
    display: block;
    text-align: center;
    text-decoration: none;
}

.contactbutton {
    text-decoration: none;
    font-weight: 600;
    font-size: 125%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    border-style: solid;
    border-radius: 0.5em;
    transition: all 0.3s ease;
}

.contactbutton:hover {
    border-color: white;
    background-color: white;
    color: var(--MainColor);    
}

.portrait {
    position: relative;
    right: 8%;
    margin-right: 10%;
    width: 32%;
    align-content: center;
}


.personalpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border: 5px solid var(--SecondaryColor);
    border-radius: 5%;
}

.skills {
    text-align: center;
    margin: 20px;
}

.skillsheader {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 175%;
    font-weight: 700;
    text-decoration: underline;
}

.skillsdescription {
    font-size: 1.2em;
    margin-bottom: 3%;
}

.skillsbody {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-bottom: 0%;
    width: 70%;
}

.skillsbody > div {
    text-align: center;
    margin: 0 20px;
}

.skillsimgs {
    width: 40px;
    height: auto;
    display: inline-block;
    margin-bottom: 25%;
}

.skillsbody > div > img {
    display: block;
    margin: 0 auto;
}

.skillsbody > div > span {
    display: block;
    margin-top: 10px;
    font-size: 1em;
}

.experience {
    position: static;
    width: 100%;
    margin-top: 3%;
}

.experienceheader {
    text-align: center;
    margin-top: 1%;
    font-size: 175%;
    font-weight: 700;
    text-decoration: underline;
}

.experiencedescription {
    text-align: center;
    margin-top: 1%;
    font-size: 125%;
}

.projects {
    position: static;
    width: 100%;
    margin-top: 2%;
}

.projectsheader {
    padding-top: 1%;
    font-size: 175%;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}

.projectsdescription {
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 125%;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--SecondaryColor);
    height: 60px;
    width: 100%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5em; /* Adjust the spacing between icons */
}

.footerimg {
    width: 40px; /* Adjust the size of the icons */
    height: 40px;
    background-color: var(--SecondaryColor);
    transform: rotate(0);
    transition: transform 0.25s ease;
}

.footerimg:hover {
    transform: rotate(20deg);
    background-color: var(--SecondaryColor);
}